<web-app>
  <servlet>
       <servlet-name>html</servlet-name>
	   <servlet-class>com.nt.servlet.HtmlServlet</servlet-class>
	   <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
       <servlet-name>html</servlet-name>
	   <url-pattern>/hturl</url-pattern>
	</servlet-mapping>
	<servlet>
       <servlet-name>excel</servlet-name>
	   <servlet-class>com.nt.servlet.ExcelServlet</servlet-class>
	   <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
       <servlet-name>excel</servlet-name>
	   <url-pattern>/xlsurl</url-pattern>
	</servlet-mapping>
	<servlet>
       <servlet-name>word</servlet-name>
	   <servlet-class>com.nt.servlet.WordServlet</servlet-class>
	   <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
       <servlet-name>word</servlet-name>
	   <url-pattern>/wdurl</url-pattern>
	</servlet-mapping>
	<servlet>
       <servlet-name>plain</servlet-name>
	   <servlet-class>com.nt.servlet.PlainServlet</servlet-class>
	   <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
       <servlet-name>plain</servlet-name>
	   <url-pattern>/plurl</url-pattern>
	</servlet-mapping>
	<servlet>
       <servlet-name>xml</servlet-name>
	   <servlet-class>com.nt.servlet.XmlServlet</servlet-class>
	   <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
       <servlet-name>xml</servlet-name>
	   <url-pattern>/xmlurl</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>lc</servlet-name>
	   <servlet-class>com.nt.servlet.LcTestServlet</servlet-class>
	   <init-param>
	      <param-name>dbuser</param-name>
	      <param-value>system</param-value>
	   </init-param>
	     <init-param>
	      <param-name>dbpwd</param-name>
	      <param-value>manager</param-value>
	   </init-param>
	   <load-on-startup>6</load-on-startup>
	</servlet>
	<servlet-mapping>
	    <servlet-name>lc</servlet-name>
	    <url-pattern>/lcurl</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>t1</servlet-name>
	   <jsp-file>/test1.html</jsp-file>
	</servlet>
	<servlet-mapping>
	     <servlet-name>t1</servlet-name>
	     <url-pattern>/t1url</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>t2</servlet-name>
	   <jsp-file>/test2.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	     <servlet-name>t2</servlet-name>
	     <url-pattern>/t2url</url-pattern>
	</servlet-mapping>
</web-app>